In [286]:
import pandas as pd
import numpy as np
import nltk
from nltk import FreqDist
from string import punctuation
from nltk.corpus import stopwords
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from nltk.corpus import wordnet

In [287]:
#Configuração palavras PT-BR
stopwords = set(stopwords.words('portuguese') + list(punctuation))

In [288]:
df = pd.read_excel('ficha1ementabibliografia.xlsx')
ementa = df['Ementa']

In [289]:
df.columns

Index(['Código', 'Ementa', 'Bibliografia Básica'], dtype='object')

In [290]:
lista = []

In [291]:
ementa.head()

0    Estudo sobre o fenômeno objeto informação, sob...
1    Condensação de dados e informações textuais. T...
2     Informação e suas relações de cidadania: cult...
3    Técnicas e instrumentos de coleta de dados em ...
4    Apresentação e discussão dos conceitos lógicos...
Name: Ementa, dtype: object

In [292]:
ementajunta = " ".join(ementa)
palavras = nltk.word_tokenize(ementajunta.lower())
palavras_sem_stopwords = [palavra for palavra in palavras if palavra not in stopwords]
palavras_sem_stopwords[:5]
frequencia = FreqDist(palavras_sem_stopwords)
maiorFrequencia = frequencia.most_common()[:15]
maiorFrequencia = pd.DataFrame(maiorFrequencia, columns=['palavra', 'frequencia'])
maiorFrequencia[:5]

        palavra  frequencia
0    informação          45
1  conhecimento          13
2        estudo          11
3         dados          11
4        gestão           9

In [293]:
newdf = df[['Código', 'Ementa']]

In [294]:
newdf.head()

   Código                                             Ementa
0  SIN160  Estudo sobre o fenômeno objeto informação, sob...
1  SIN161  Condensação de dados e informações textuais. T...
2  SIN162   Informação e suas relações de cidadania: cult...
3  SIN163  Técnicas e instrumentos de coleta de dados em ...
4  SIN164  Apresentação e discussão dos conceitos lógicos...

In [295]:
todaFrequencia = pd.DataFrame(frequencia.most_common(), columns=['palavra', 'frequencia'])
matriz = pd.DataFrame(columns=[todaFrequencia['palavra']])

In [296]:
for t in range(0, len(newdf)):
    ementa = newdf.loc[t][1]
    codigo =newdf.loc[t][0]
    valores = []
    for v in todaFrequencia['palavra']:
        if(v in ementa):
            valores.append(1)
        else:
            valores.append(0)
    matriz.loc[codigo] = valores

In [297]:
matriz.head()

palavra,informação,conhecimento,estudo,dados,gestão,conceitos,teóricos,organizacional,elementos,sistemas,...,observação,navegação,infra-estrutura,tendências,comércio,eletrônico,educação,distancia,publicações,eletrônicas
SIN160,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SIN161,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SIN162,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SIN163,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
SIN164,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [298]:
todaFrequencia['palavra'].values

array(['informação', 'conhecimento', 'estudo', 'dados', 'gestão',
       'conceitos', 'teóricos', 'organizacional', 'elementos', 'sistemas',
       'análise', 'técnicas', 'práticos', 'processos', 'aprendizagem',
       'organização', 'serviços', 'processo', 'ambiente', 'políticas',
       'aspectos', 'produtos', 'sob', 'ciência', 'direitos', 'comunicação',
       'avaliação', 'uso', 'modelagem', 'planejamento', 'desenvolvimento',
       'modelos', 'práticas', 'projeto', 'tecnologia', 'conteúdo',
       'questões', 'pesquisa', 'apresentação', 'discussão', 'bem',
       'prática', 'conteúdos', 'básicos', 'social', 'organizações',
       'contextos', 'problemas', 'aplicabilidade', 'negócios',
       'estratégias', 'marketing', 'aplicação', 'necessidades', 'recursos',
       'elaboração', 'banco', 'ética', 'segurança', 'princípios',
       'visando', 'inteligência', 'sobre', 'sociedade', 'condensação',
       'informações', 'formas', 'estruturais', 'relações', 'humanos',
       'sustentabilidade', 'instrumentos', 'lógicos', 'resolução',
       'matemáticos', 'complementam', 'formação', 'técnica', 'teórica',
       'futuro', 'gestor', 'abordagens', 'voltadas', 'responsabilidade',
       'tecnológicas', 'registro', 'fundamentos', 'redes', 'tecnológicos',
       'documentos', 'organizacionais', 'complexidade', 'lógica', 'tipos',
       'teoria', 'criptografia', 'métodos', 'tecnologias', 'conceituais',
       'arquitetura', 'tendo', 'conceito', 'mídia', 'identificação',
       'aproveitamento', 'utilizando', 'gerência', 'estratégia',
       'estratégico', 'implantação', 'contribuições', 'interdisciplinares',
       'aplicadas', 'dispositivos', 'área', 'propriedade', 'intelectual',
       'decisão', 'padrões', 'diferentes', 'domínios', 'histórico',
       'ferramentas', 'vistas', 'compreensão', 'projetos', 'crítico',
       'relacionadas', 'tópicos', 'atividades', 'inovação', 'tecnológica',
       'fenômeno', 'objeto', 'perspectiva', 'enquanto', 'elemento',
       'interesse', 'textuais', 'transfiguração', 'pictórico', 'sonoro',
       'outras', 'cidadania', 'culturais', 'étnicas', 'raciais',
       'ambientais', 'multiculturalismo', 'profissionais', 'coleta',
       'aplicações', 'inferência', 'abordagem', 'teoremas', 'cálculo',
       'proposicional', 'predicados', 'física', 'cognitiva',
       'conhecimentos', 'habilidades', 'atitudes', 'localização',
       'independente', 'atualidades', 'captura', 'armazenamento',
       'distribuição', 'preservação', 'internas', 'externas', 'visão',
       'sistêmica', 'visões', 'funcional', 'estrutural', 'desenho',
       'reformulação', 'clássicos', 'aplicados', 'medidas', 'compressão',
       'recuperação', 'usando', 'uml', 'levantamento', 'especificação',
       'requisitos', 'documentação', 'tradicional', 'digital',
       'associadas', 'programação', 'computadores', 'busca', 'ciclo',
       'vida', 'referência', 'ergonomia', 'contexto', 'disponíveis',
       'científica', 'oportunidades', 'gerenciamento', 'necessários',
       'negócio', 'metodologias', 'priorizem', 'criatividade', 'pró-ativa',
       'aprimorar', 'informacional', 'insumo', 'produto', 'controle',
       'desempenho', 'arquiteturas', 'linguística', 'metodológicas',
       'criar', 'gerenciar', 'implantar', 'reaproveitar', 'gerenciadores',
       'cms', 'diversos', 'legislação', 'brasileira', 'referente',
       'autorais', 'éticos', 'jurídicos', 'aplicada', 'monitoramento',
       'captação', 'enfatizando', 'recurso', 'gerador', 'vulnerabilidade',
       'biometria', 'ótica', 'normas', 'nacionais', 'planos',
       'contingência', 'continuidade', 'construção', 'baseados',
       'semiótica', 'contetualização', 'web', 'móveis', 'desdobramentos',
       'apoio', 'sistematização', 'papel', 'coorporativa', 'indivíduos',
       'grupos', 'reflexo', 'cultura', 'descoberta', 'bancos', 'tarefas',
       'mineração', 'diagnóstico', 'oferecer', 'soluções', 'e/ou',
       'informação/comunicação', 'mensuração', 'partir', 'naturezas',
       'distinções', 'indexação', 'metadados', 'ontologias', 'taxonomia',
       'estruturação', 'representação', 'formalização', 'acompanhamento',
       'governança', 'trabalho', 'conclusão', 'curso', 'enfoque',
       'cognitivo', 'voltada', 'solução', 'tomada', 'componentes',
       'voltados', 'base', 'project', 'management', 'institute', 'pmi',
       'protótipos', 'dimensões', 'cognitivas', 'emocionais',
       'situacionais', 'comunidades', 'teórico-práticos', 'mecanismos',
       'proteção', 'criações', 'intelectuais', 'esboço', 'principais',
       'teorias', 'semióticas', 'tratamento', 'específicos', 'consultoria',
       'temas', 'selecionados', 'editoriais', 'estudos', 'emergentes',
       'profissional', 'produção', 'ambientes', 'informacionais',
       'setores', 'industriais', 'brasileiros', 'transformação', 'brutos',
       'lou', 'fragmentados', 'incrementar', 'observação', 'navegação',
       'infra-estrutura', 'tendências', 'comércio', 'eletrônico',
       'educação', 'distancia', 'publicações', 'eletrônicas'], dtype=object)

In [299]:
from sklearn.cluster import KMeans

In [300]:
kmeans = KMeans(n_clusters=3)

In [301]:
kmeans.fit(matriz)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [302]:
kmeans.cluster_centers_

array([[ -1.11022302e-16,   1.50000000e-01,   0.00000000e+00, ...,
          5.00000000e-02,   5.00000000e-02,   5.00000000e-02],
       [  8.14814815e-01,   2.59259259e-01,   0.00000000e+00, ...,
         -6.93889390e-18,  -6.93889390e-18,  -6.93889390e-18],
       [  8.33333333e-01,   1.66666667e-01,   0.00000000e+00, ...,
         -3.46944695e-18,  -3.46944695e-18,  -3.46944695e-18]])

In [303]:
kmeans.labels_

array([1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 2, 0, 2, 2,
       0, 1, 0, 1, 2, 2, 0, 1, 2, 1, 0, 2, 0, 2, 2, 1, 0, 0, 1, 2, 1, 0, 0,
       2, 1, 1, 0, 1, 1, 1, 0, 1, 2, 0, 1, 0])

In [304]:
resultado = pd.DataFrame(columns=['Código'], data=newdf['Código'])

In [305]:
resultado['Grupo'] = kmeans.labels_

In [306]:
# writer = pd.ExcelWriter("test.xlsx")
# resultado.to_excel(writer, startrow=1, startcol=0)

# worksheet = writer.sheets['Sheet1']
# writer.save()

In [307]:
resultado.groupby('Grupo').count()

       Código
Grupo
0          20
1          27
2          12

In [308]:
def convertString(x):
    if x.any():
        print(x)